.typing-indicator {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 15px;
  max-width: 70%;
  word-break: break-word;
  padding: 15px;
  border-radius: 20px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation: bounce-dot 1.2s infinite ease-in-out;
}
.self-typing {
  background: var(--primary-color);
}
.self-typing .dot {
  background-color: white;
}

.other-typing {
  background-color: var(--gray-color);
}
.other-typing .dot {
  background-color: black;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce-dot {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}