@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #750e21;
  --gray-color: #e5e7eb;
  --black-color: #333;
  --white-color: #fff;
}

@theme {
  --color-primary-50: #fce4e8;
  --color-primary-100: #f8c8d1;
  --color-primary-200: #f18da0;
  --color-primary-300: #eb5672;
  --color-primary-400: #e41b40;
  --color-primary-500: #ad1531;
  --color-primary-600: #750e21;
  --color-primary-700: #570a18;
  --color-primary-800: #3b0711;
  --color-primary-900: #1b0308;
  --color-primary-950: #0e0204;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
